Problems connecting with OneViewClient

Hi,

I currently face a problem in connecting to one of our servers and I'm out of any ideas. Maybe you have one.

The situation is that whenever I try to build a connection using OneViewClient to that specific server, a connection isn't established, a timeout is thrown. Testing the REST API on command line with the same server IP using `curl` works as expected. I get a session ID, I can do all queries, whatever I want, so it seems not to be a firewall issue.
I have other servers with the exact versions installed and they work pretty fine.

Summary: connecting with `curl` works, the Python module not, but only on this one server. Also tested with Insomnia (REST API test application)

So, any ideas what it could be? Python version is 3.8.10, hpeOneView is 8.0.0 (previously 7.2.0).

Regards, Thomas

Hi Thomas,

We will check on this and get back to you.

Thanks

Hi @mosesontheweb ,

Can you check from python interpreter the followng:
```
$python
Python 3.8.10 (default, Nov 14 2022, 12:59:47) 
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> from hpeOneView.oneview_client import OneViewClient
>>> config = {
...     "ip": "<oneview_ip>",
...     "credentials": {
...         "userName": "<username>",
...         "password": "<password>"
...     }
... }
>>> oneview_client = OneViewClient(config)
```

And share the output.

Hi,

here's the output:
```python
In [2]: config = {
   ...:     "ip": "172.16.34.1",
   ...:     "credentials": {
   ...:         "userName": "cmdbread",
   ...:         "password": "xxxxxxxx",
   ...:         "authLoginDomain": "local"
   ...:     }
   ...: }

In [5]: client = OneViewClient(config)
---------------------------------------------------------------------------
TimeoutError                              Traceback (most recent call last)
Cell In [5], line 1
----> 1 client = OneViewClient(config)

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/oneview_client.py:132, in OneViewClient.__init__(self, config, sessionID)
    131 def __init__(self, config, sessionID=None):
--> 132     self.__connection = connection(config.get('ip'), config.get('api_version'), config.get('ssl_certificate', False),
    133                                    config.get('timeout'))
    134     self.__image_streamer_ip = config.get("image_streamer_ip")
    135     self.__validate_host()

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:68, in connection.__init__(self, applianceIp, api_version, sslBundle, timeout)
     66 self._timeout = timeout
     67 if not api_version:
---> 68     api_version = self.get_default_api_version()
     69 self._apiVersion = int(api_version)
     70 self._headers = {
     71     'X-API-Version': self._apiVersion,
     72     'Accept': 'application/json',
     73     'Content-Type': 'application/json'}

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:79, in connection.get_default_api_version(self)
     75 def get_default_api_version(self):
     76     self._headers = {
     77         'Accept': 'application/json',
     78         'Content-Type': 'application/json'}
---> 79     version = self.get(uri['version'])
     80     return version['currentVersion']

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:345, in connection.get(self, uri, custom_headers)
    344 def get(self, uri, custom_headers=None):
--> 345     resp, body = self.do_http('GET', uri, '', custom_headers=custom_headers)
    346     if resp.status >= 400:
    347         raise HPEOneViewException(body)

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:131, in connection.do_http(self, method, path, body, custom_headers)
    129 try:
    130     conn = self.get_connection()
--> 131     conn.request(method, path, body, http_headers)
    132     resp = conn.getresponse()
    133     tempbytes = ''

File /usr/lib/python3.8/http/client.py:1256, in HTTPConnection.request(self, method, url, body, headers, encode_chunked)
   1253 def request(self, method, url, body=None, headers={}, *,
   1254             encode_chunked=False):
   1255     """Send a complete request to the server."""
-> 1256     self._send_request(method, url, body, headers, encode_chunked)

File /usr/lib/python3.8/http/client.py:1302, in HTTPConnection._send_request(self, method, url, body, headers, encode_chunked)
   1298 if isinstance(body, str):
   1299     # RFC 2616 Section 3.7.1 says that text default has a
   1300     # default charset of iso-8859-1.
   1301     body = _encode(body, 'body')
-> 1302 self.endheaders(body, encode_chunked=encode_chunked)

File /usr/lib/python3.8/http/client.py:1251, in HTTPConnection.endheaders(self, message_body, encode_chunked)
   1249 else:
   1250     raise CannotSendHeader()
-> 1251 self._send_output(message_body, encode_chunked=encode_chunked)

File /usr/lib/python3.8/http/client.py:1011, in HTTPConnection._send_output(self, message_body, encode_chunked)
   1009 msg = b"\r\n".join(self._buffer)
   1010 del self._buffer[:]
-> 1011 self.send(msg)
   1013 if message_body is not None:
   1014 
   1015     # create a consistent interface to message_body
   1016     if hasattr(message_body, 'read'):
   1017         # Let file-like take precedence over byte-like.  This
   1018         # is needed to allow the current position of mmap'ed
   1019         # files to be taken into account.

File /usr/lib/python3.8/http/client.py:951, in HTTPConnection.send(self, data)
    949 if self.sock is None:
    950     if self.auto_open:
--> 951         self.connect()
    952     else:
    953         raise NotConnected()

File /usr/lib/python3.8/http/client.py:1418, in HTTPSConnection.connect(self)
   1415 def connect(self):
   1416     "Connect to a host on a given (SSL) port."
-> 1418     super().connect()
   1420     if self._tunnel_host:
   1421         server_hostname = self._tunnel_host

File /usr/lib/python3.8/http/client.py:922, in HTTPConnection.connect(self)
    920 def connect(self):
    921     """Connect to the host and port specified in __init__."""
--> 922     self.sock = self._create_connection(
    923         (self.host,self.port), self.timeout, self.source_address)
    924     self.sock.setsockopt(socket.IPPROTO_TCP, socket.TCP_NODELAY, 1)
    926     if self._tunnel_host:

File /usr/lib/python3.8/socket.py:808, in create_connection(address, timeout, source_address)
    806 if err is not None:
    807     try:
--> 808         raise err
    809     finally:
    810         # Break explicitly a reference cycle
    811         err = None

File /usr/lib/python3.8/socket.py:796, in create_connection(address, timeout, source_address)
    794 if source_address:
    795     sock.bind(source_address)
--> 796 sock.connect(sa)
    797 # Break explicitly a reference cycle
    798 err = None

TimeoutError: [Errno 110] Connection timed out
```
BUT, before you say, it's a network issue, then look at this:
```bash
$ curl -v -X POST -H "Content-Type: application/json" -d '{"authLoginDomain":"local","password":"xxxxxx","userName":"cmdbread"}' https://172.16.34.1/rest/login-sessions         
Note: Unnecessary use of -X or --request, POST is already inferred.
* Uses proxy env variable no_proxy == 'xxx'
* Uses proxy env variable https_proxy == 'http://companyproxy:8080'
*   Trying 1.2.3.4:8080...
* TCP_NODELAY set
* Connected to companyproxy (1.2.3.4) port 8080 (#0)
* allocate connect buffer!
* Establish HTTP proxy tunnel to 172.16.34.1:443
> CONNECT 172.16.34.1:443 HTTP/1.1
> Host: 172.16.34.1:443
> User-Agent: curl/7.68.0
> Proxy-Connection: Keep-Alive
> 
< HTTP/1.1 200 Connection established
< 
* Proxy replied 200 to CONNECT request
* CONNECT phase completed!
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/certs/ca-certificates.crt
  CApath: /etc/ssl/certs
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* CONNECT phase completed!
* CONNECT phase completed!
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* TLSv1.2 (IN), TLS handshake, Server finished (14):
* TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.2 (OUT), TLS handshake, Finished (20):
* TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-RSA-AES256-SHA
* ALPN, server accepted to use http/1.1
* Server certificate:
*  subject: YYYY
*  start date: Jan 26 14:22:26 2023 GMT
*  expire date: Jan 25 14:22:26 2025 GMT
*  subjectAltName: host "172.16.34.1" matched cert's IP address!
*  issuer: ZZZZ
*  SSL certificate verify ok.
> POST /rest/login-sessions HTTP/1.1
> Host: 172.16.34.1
> User-Agent: curl/7.68.0
> Accept: */*
> Content-Type: application/json
> Content-Length: 73
> 
* upload completely sent off: 73 out of 73 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Date: Mon, 06 Feb 2023 09:00:28 GMT
< Server: Apache
< Content-Type: application/json;charset=utf-8
< Cache-Control: no-cache
< Pragma: no-cache
< Expires: 0
< X-XSS-Protection: 1; mode=block
< X-Frame-Options: DENY
< X-Content-Type-Options: nosniff
< Strict-Transport-Security: max-age=31536000
< Transfer-Encoding: chunked
< 
* Connection #0 to host proxy.sozvers.at left intact
{"sessionID":"MTI3OTMzODkyMTEzfG_ZULDyQV_4CWpoaoY6GS2Y50dvhlsa"}% 
```
I also had the idea that it might be a proxy issue, so I set it into the environment, but no change so far. Any other host works with the client. I also have a server in the same segment:
```python
In [9]: config = {
   ...:     "ip": "172.16.34.81",
   ...:     "credentials": {
   ...:         "userName": "cmdbread",
   ...:         "password": "xxxxxxxxx",
   ...:         "authLoginDomain": "local"
   ...:     }
   ...: }

In [10]: client = OneViewClient(config)

In [13]: client.connection.get_session_id()
Out[13]: 'NTMyOTUxMTM3MzMxWb2PDAHi6LbQlAzfVjx7o8THKKlpFM1x'
```
(The missing numbers between the iPython commands are not relevant for this example).

So, the question is why I do get a timeout error using the client, but curl works. It's really just this one particular host.

Regards, Thomas

Hi @mosesontheweb  ,

Thanks for the detailed reply. We are suspecting the issue may be due to proxy setting since your curl command shows proxy is being used and in python sdk the same is not configured.
Can you try the below command for both the servers(One that is working and one that is not working) and share the results?


```
>> from hpeOneView.oneview_client import OneViewClient
>>> config={"ip": "<oneview_ip>", "credentials":{"userName": "<username>","password": "<password>"}}
>>> oneview_client = OneViewClient(config)
>>>vars(oneview_client._OneViewClient__connection)
```



Currently none of them work, even those which were working before. Most probably they changed the IP addresses. However, the server with IP `172.16.34.81` is contactable and works with curl. At the moment I only can provide the output below:
```python
In [18]: for h in ['http','https']:
    ...:     print(f'{h}_proxy: ', end='')
    ...:     print(os.getenv(f'{h}_proxy'))
    ...:     print(f'{h}_proxy: '.upper(), end='')
    ...:     print(os.getenv(f'{h}_proxy'.upper()))
    ...: 
http_proxy: http://<companyproxy>:8080
HTTP_PROXY: http://<companyproxy>:8080
https_proxy: http://<companyproxy>:8080
HTTPS_PROXY: http://<companyproxy>:8080
```
This settings are available through the user environment and are not set within package `os`. I try to get back to you soon.

I investigated the problem now more deeply and found a solution!

I read through the source code of that package and found out, that `config` can have a setting for a proxy:
```python
config = {
    ...:     "ip": "172.16.34.1",
    ...:     "credentials": {
    ...:         "userName": "cmdbread",
    ...:         "password": "xxxxxxxx",
    ...:         "authLoginDomain": "local"
    ...:     },
    ...:     'proxy':'<companyproxy>:8080'
    ...: }
```
At first I thought this might be the solution, but it's not working. According to `OneViewClient.__init__()` it sets the connection, validates the host and then then it should set a proxy for `http`. Function `__set_proxy()` for setting the proxy looks like this:
```python
    def __set_proxy(self, config):
        """
        Set proxy if needed
        Args:
            config: Config dict
        """
        if "proxy" in config and config["proxy"]:
            proxy = config["proxy"]
            splitted = proxy.split(':')
            if len(splitted) != 2:
                raise ValueError(ONEVIEW_CLIENT_INVALID_PROXY)

            proxy_host = splitted[0]
            proxy_port = int(splitted[1])
            self.__connection.set_proxy(proxy_host, proxy_port)
```
For testing purposes I tried `'proxy':'<companyproxy>'` as setting just to see if the function will fail because it cannot split this setting into two parts (proxy_host and proxy_part). But it does not fail. So I tried to do another attempt, broke it with CTRL-C and read through the traceback - and this gave me the right direction!

```python
File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/oneview_client.py:132, in OneViewClient.__init__(self, config, sessionID)
    131 def __init__(self, config, sessionID=None):
--> 132     self.__connection = connection(config.get('ip'), config.get('api_version'), config.get('ssl_certificate', False),
    133                                    config.get('timeout'))
    134     self.__image_streamer_ip = config.get("image_streamer_ip")
    135     self.__validate_host()

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:68, in connection.__init__(self, applianceIp, api_version, sslBundle, timeout)
     66 self._timeout = timeout
     67 if not api_version:
---> 68     api_version = self.get_default_api_version()
     69 self._apiVersion = int(api_version)
     70 self._headers = {
     71     'X-API-Version': self._apiVersion,
     72     'Accept': 'application/json',
     73     'Content-Type': 'application/json'}

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:79, in connection.get_default_api_version(self)
     75 def get_default_api_version(self):
     76     self._headers = {
     77         'Accept': 'application/json',
     78         'Content-Type': 'application/json'}
---> 79     version = self.get(uri['version'])
     80     return version['currentVersion']

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:346, in connection.get(self, uri, custom_headers)
    345 def get(self, uri, custom_headers=None):
--> 346     resp, body = self.do_http('GET', uri, '', custom_headers=custom_headers)
    347     if resp.status >= 400:
    348         raise HPEOneViewException(body)

File ~/.virtualenvs/EDIS-sdiHsS74/lib/python3.8/site-packages/hpeOneView/connection.py:132, in connection.do_http(self, method, path, body, custom_headers)
    130 try:
    131     conn = self.get_connection()
--> 132     conn.request(method, path, body, http_headers)
    133     resp = conn.getresponse()
    134     tempbytes = ''

File /usr/lib/python3.8/http/client.py:1256, in HTTPConnection.request(self, method, url, body, headers, encode_chunked)
   1253 def request(self, method, url, body=None, headers={}, *,
   1254             encode_chunked=False):
   1255     """Send a complete request to the server."""
-> 1256     self._send_request(method, url, body, headers, encode_chunked)

File /usr/lib/python3.8/http/client.py:1302, in HTTPConnection._send_request(self, method, url, body, headers, encode_chunked)
   1298 if isinstance(body, str):
   1299     # RFC 2616 Section 3.7.1 says that text default has a
   1300     # default charset of iso-8859-1.
   1301     body = _encode(body, 'body')
-> 1302 self.endheaders(body, encode_chunked=encode_chunked)

File /usr/lib/python3.8/http/client.py:1251, in HTTPConnection.endheaders(self, message_body, encode_chunked)
   1249 else:
   1250     raise CannotSendHeader()
-> 1251 self._send_output(message_body, encode_chunked=encode_chunked)

File /usr/lib/python3.8/http/client.py:1011, in HTTPConnection._send_output(self, message_body, encode_chunked)
   1009 msg = b"\r\n".join(self._buffer)
   1010 del self._buffer[:]
-> 1011 self.send(msg)
   1013 if message_body is not None:
   1014 
   1015     # create a consistent interface to message_body
   1016     if hasattr(message_body, 'read'):
   1017         # Let file-like take precedence over byte-like.  This
   1018         # is needed to allow the current position of mmap'ed
   1019         # files to be taken into account.

File /usr/lib/python3.8/http/client.py:951, in HTTPConnection.send(self, data)
    949 if self.sock is None:
    950     if self.auto_open:
--> 951         self.connect()
    952     else:
    953         raise NotConnected()

File /usr/lib/python3.8/http/client.py:1418, in HTTPSConnection.connect(self)
   1415 def connect(self):
   1416     "Connect to a host on a given (SSL) port."
-> 1418     super().connect()
   1420     if self._tunnel_host:
   1421         server_hostname = self._tunnel_host

File /usr/lib/python3.8/http/client.py:922, in HTTPConnection.connect(self)
    920 def connect(self):
    921     """Connect to the host and port specified in __init__."""
--> 922     self.sock = self._create_connection(
    923         (self.host,self.port), self.timeout, self.source_address)
    924     self.sock.setsockopt(socket.IPPROTO_TCP, socket.TCP_NODELAY, 1)
    926     if self._tunnel_host:

File /usr/lib/python3.8/socket.py:796, in create_connection(address, timeout, source_address)
    794 if source_address:
    795     sock.bind(source_address)
--> 796 sock.connect(sa)
    797 # Break explicitly a reference cycle
    798 err = None
```

If there's no `api_version` set in `config`, `hpeOneView/connection.py` tries to get this value by using `get_default_api_version()` by contacting the destination host - which will fail because the proxy value is not set yet!

So, this is the only way to get this working when having to use a proxy server:
```python
In [6]: config = {
   ...:     "ip": "172.16.34.101",
   ...:     "credentials": {
   ...:         "userName": "cmdbread",
   ...:         "password": "xxxxxxxx",
   ...:         "authLoginDomain": "local"
   ...:     },
   ...:     'proxy':'proxy.sozvers.at:8080',
   ...:     'api_version': 4000
   ...: }
```



Hi @mosesontheweb , 

Thanks for looking into this. We need to fix  get_default_api_version() failure when proxy is used.



Hi @mosesontheweb,

We have added the fix and it will be available with the upcoming OV8.2 release.

Thanks